### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
# Notebook
# Local Notebooks
notebooks/
# temporary files of macOS
.DS_Store
# sentinel image notebooks
Fetch_Sentinel_Image.ipynb
.ipynb_checkpoints
#env file
.env
.envrc
env.yaml
# data
segmented_output_files/
raw_data/
#Viktor extra code
viktor_code.py
# Python version
.python-version
